@page "/offerreview/{offerId}"
@using ExpertAdministration.Web.ViewModels
@using Radzen
@using Radzen.Blazor
@inject NavigationManager Navigation
@inject OfferReviewViewModel ViewModel
@inject DialogService DialogService

@if (ViewModel.IsProgressIndicatorActive)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
}
else
{
    <RadzenRow>
        <RadzenColumn>
            <h3>@ViewModel.Offer.Name</h3>
            <p>Id: @ViewModel.Offer.Id</p>
            <p>Description: @ViewModel.Offer.Description</p>
            <p>Owner: @ViewModel.Offer.Owner</p>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <p style="padding-top: 10px">Status:</p>
                <RadzenDropDown @bind-Value=@ViewModel.OfferStatus Data=@StatusOptions Style="width: 100%; max-width: 300px;"/>
            </RadzenStack>

            <p>Created at: @ViewModel.Offer.CreatedAt</p>

            <RadzenButton Click=@OnOfferChangeStatusButtonClick Text="Change status" ButtonStyle="ButtonStyle.Info"/>

            <RadzenButton Click=@OnOfferDeleteButtonClick Text="Delete offer" ButtonStyle="ButtonStyle.Danger"/>

            <RadzenButton Click=@OnBackButtonClick Text="Go back" ButtonStyle="ButtonStyle.Primary"/>
        </RadzenColumn>
        <RadzenColumn>
            @foreach (var imageUrl in ViewModel.Offer.ImageUrls)
            {
                <RadzenImage Path="@imageUrl" Style="height: 15rem;"/>
            }
        </RadzenColumn>
    </RadzenRow>
}

@code {

    [Parameter]
    public string offerId { get; set; }

    public IEnumerable<string> StatusOptions = new List<string> { "New", "Review", "Active", "Archived" };

    protected override Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += (sender, args) => StateHasChanged();
        ViewModel.OnOfferStatusUpdated += ShowUpdateResult;

        ViewModel.LoadOfferDataAsync(offerId);

        return base.OnInitializedAsync();
    }

    private void OnBackButtonClick()
    {
        if (ViewModel.OfferStatusHasChanged)
        {
            Navigation.NavigateTo("/offermonitor/true");
        }
        else
        {
            Navigation.NavigateTo("/offermonitor");
        }
    }

    private void OnOfferDeleteButtonClick()
    {
    }

    private async Task OnOfferChangeStatusButtonClick()
    {
        ViewModel.ChangeStatus();
    }

    private void ShowUpdateResult(object sender, string message)
    {
        ShowMessageDialog(message);
    }

    async Task ShowMessageDialog(string message = "test")
    {
        await DialogService.OpenAsync("Update status", ds =>
            @<div>
                @message
            </div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
    }

}   
